h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-title leading-tight font-light #{!important};
}

h1 {
    @apply text-4xl lg:text-5xl;
}
h2 {
    @apply text-3xl lg:text-4xl;
}
h3 {
    @apply text-xl lg:text-2xl;
}

a {
    @apply focus:underline hover:underline;
}

.content {
    @apply lg:text-lg;

    h1:not(:first-child),
    h2:not(:first-child),
    h3:not(:first-child),
    h4:not(:first-child) {
        @apply mt-8;
    }
    a {
        @apply underline;
    }

    ul:not(.blocks-gallery-grid) {
        @apply list-disc pt-4 pl-4 ml-4;
        &:first-child {
            @apply pt-0;
        }
    }
}

.content > p:not(:first-child),
.content *:not(.woocommerce) p:not(:first-child) {
    @apply mt-4;
}